<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="center">
  <h1>{{title}}</h1>
  </div>
<div class="file-handler">
  <label for="file">Upload Assignment:
  </label>
  <input type="file"
	 id="file"
	 (change)="fus.handleFileInput($event)"/>
</div>
<div *ngIf="fus.fileString">
  <h4>{{fus.fileString}}</h4>
  </div>
