<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <section class="main-timeline-section">
        <div class="timeline-start"></div>
        <div class="conference-center-line"></div>
        <div class="conference-timeline-content">
          <div *ngFor="let day of days" [ngStyle]="{'left.px': day[1]}" class="timeline-article timeline-article-top">
            <div class="content-date">
              <span>10-09-2017</span>
            </div>
            <div class="meta-date"></div>
            <div class="content-box">
              <p><br> {{day}}</p>
            </div>
          </div>


        </div>
        <div class="timeline-end"></div>
      </section>
    </div>
  </div>
</div>
</html>
