<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <section class="main-timeline-section">
        <div class="timeline-start">
        </div>
        <div class="conference-center-line"></div>
        <div class="conference-timeline-content">
          <div class="timeline-article timeline-article-top">
          <div class ="content-date">
          <span>{{range[0].toDateString().substring(0,10)}}</span>
          </div>
            <div class="content-box">
              <p>Assignment Released</p>
            </div>
          </div>
          <div cdkDropList [cdkDropListData]="totalDays" [cdkDropListOrientation]="'horizontal'" (cdkDropListDropped)="drop($event)" class="example-list">
          <div *ngFor="let day of totalDays" [ngStyle]="{'left.px': day[2]}" class="timeline-article timeline-article-top" cdkDrag [cdkDragDisabled]="true">
            <div *ngIf="!parts.includes(day[0])" class="day-marker"></div>
            <div *ngIf="parts.includes(day[0])" class="timeline-article timeline-article-top" cdkDrag [cdkDragDisabled]="false">
              <div class="placeholder" *cdkDragPlaceholder></div>
              <div class="content-date">
                <span>{{day[1]}}</span>
              </div>
              <div class="meta-date"></div>
              <div class="content-box">
                <p>{{day[0]}}</p>
              </div>
           </div>
          </div>
          </div>
        </div>
        <div class="timeline-end"></div>
      </section>
    </div>
  </div>
</div>
</html>
